<ion-content class="blue-bg">

  <!-- Line information: can be used for status info too -->
  <div class="padded-top animated fadeInDown delay-1s">
    <div *ngFor="let line of currentRoute" class="bold faded route-line">
      {{ line }}
    </div>
  </div>

  <div class="padded">

    <!-- Bus is in service -->
    <div *ngIf="isInService">
      <div class="no-margin bold animated flipInX" [class.time]="timeAway !== 'Due'" [class.due]="timeAway === 'Due'">
        {{ timeAway }}
      </div>
      <div *ngIf="timeAway !== 'Due'" class="no-margin bold bigger text">
        {{ timeAway === "1" ? "minute" : "minutes" }}
      </div>
      <div class="no-margin bold bigger faded text">
        {{ timeAway === "Due" ? "at" : "from" }}
      </div>
      <div class="no-margin bold biggest text animated fadeInLeft">
        {{ currentStop[0] }}
        <!-- must be at least one stop line and at most two -->
      </div>
      <div *ngIf="currentStop.length == 2" class="no-margin bold biggest text animated fadeInLeft">
        <span class="faded">at </span>{{ currentStop[1] }}
      </div>
    </div>

    <!-- Bus is not in service -->
    <div *ngIf="!isInService">
      <div class="no-margin bold biggest text">
        The bus is <br />
        not in service <br />
        right now.
      </div>
      <div class="no-margin bold biggest faded text">
        Try again at <br />
        {{ getDay() === "Saturday" ?
        getConvertedTime(database.START_TIME + ":00") + " on Monday" :
        getConvertedTime(database.START_TIME + ":00") + "" }}.
      </div>
    </div>
  </div>

  <!-- Static information -->
  <div class="padded-top padded-left padded-right bold faded">
    Adults: $2.00<br />
    Children and Students: $1.00<br />
    SuperGold and Children under 5: Free
  </div>
  <div class="no-margin padded faded">
    <button ion-button outline small color="light" (click)="showAboutAlert()">
      About
    </button>
  </div>

</ion-content>