page-home {

  * {
    color: map-get($colors, light);
  }

  .bg {
    background-color: map-get($colors, primary);
    background-image: url(../../assets/imgs/blen1-o10.png);
    background-position: center;// bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bigger {
    font-size: 24px;
  }

  .biggest {
    font-size: 32px;
  }

  .bold {
    font-weight: bold;
  }

  .bump-left {
    margin-left: -6px;
  }

  .due {
    font-size: 121px;
    line-height: 1;
  }

  .faded {
    opacity: 0.75;
  }

  .no-margin {
    margin: 0;
  }

  .padded {
    padding: 2em;
  }

  .padded-hz {
    padding-left: 2em;
    padding-right: 2em;
  }

  .padded-top {
    padding-top: 2em;
  }

  .padded-top-half {
    padding-top: 1em;
  }

  .route-line {
    letter-spacing: 1.5px;
    text-align: center;
  }

  .time {
    font-size: 144px;
    line-height: 1;
  }

  @media screen and (min-width: 480px) {
    
    * {
      // background-image: none;
      text-align: center;
    }

    .bump-left {
      margin-left: initial;
    }

  }

}
