<ion-content class="blue-bg">

  <!-- Debug info -->
  {{ getTime() }}
  {{ getDay() }}

  <!-- Line information: can be used for status info too -->
  <div class="padded-top-only animated fadeInDown delay-1s">
    <div *ngFor="let line of database.getRoute(getTime(), getDay())" class="bold faded route-line">
      {{ line }}
    </div>
  </div>

  <div class="padded">

    <!-- Bus is in service -->
    <div *ngIf="database.isInService(getTime(), getDay())">
      <div class="no-margin bold time animated flipInX">
        3
      </div>
      <div class="no-margin bold bigger text">
        minutes
        <!-- {{ condition == 1 ? "minute" : "minutes" }} -->
      </div>
      <div class="no-margin bold bigger faded text">
        from
        <!-- {{ condition == Due ? "from" : "at" }} -->
      </div>
      <div class="no-margin bold biggest text">
        {{ getStop()[0] }} <!-- must be at least one stop line and at most two -->
      </div>
      <div *ngIf="getStop().length == 2" class="no-margin bold biggest text">
        <span class="faded">at </span>{{ getStop()[1] }}
      </div>
    </div>

    <!-- Bus is not in service -->
    <div *ngIf="!database.isInService(getTime(), getDay())">
      <div class="no-margin bold biggest text">
        The bus is <br />
        not in service <br />
        right now.
      </div>
      <div class="no-margin bold biggest faded text">
        Try again later. <!-- TODO try again in... -->
      </div>
    </div>
  </div>

  <!-- Static information -->
  <div class="padded bold faded">
    Adults: $2.00<br />
    Children and Students: $1.00<br />
    SuperGold and Children under 5: Free
  </div>
  
</ion-content>