page-home {

  * {
    color: white;
  }

  .blue-bg {
    background-color: map-get($colors, primary);
  }

  .info {
    font-weight: bold;
    opacity: 0.75;
  }

  .padded {
    padding: 2em;
  }

  .time {
    font-size: 144px;
    font-weight: bold;
    margin: 0;
  }

}
